.row.margin-top-25
  .col-md-1
  .col-md-10
    .logotitle
    %h2.page_title
      Sistema Ágil de Gestión y Provisionamiento
    %h4.page_subtitle.margin-top-10
      Reportes ejecutivos de KPIs - Reporte Interfaces Internet
  .col-md-1

.row
  .col-md-2
  .col-md-8
    %h3
      Interfaces Internet
  .col-md-2

.row.margin-top-10
  .col-md-2
  .col-md-8
    .float-left 
      = link_to 'Volver', ppmreports_ppminterfaces_path, class: 'btn btn-success'
    .updated
      Actualizado
      = @ppminterface.created_at.strftime("%d/%m/%Y %H:%M:%S")
  .col-md-2

.row.margin-top-00
  .col-md-12.table-responsive
    %table.table.table-striped.table-bordered.table-condensed.text-center.margin-top-10
      %thead
        %tr
          %th.text-center
            \#
          %th.text-center
            Nodo
          %th.text-center
            Interfaz
          %th.text-center
            IRU
          %th.text-center
            Tier One
          %th.text-center
            Enlace
          %th.text-center
            Lugar
          %th.text-center
            Ruta
          %th.text-center
            Perú
          %th.text-center
            Fecha Activ
          %th.text-center
            Max Gbps Tx
            %br
            (3 días)
          %th.text-center
            Max Gbps Rx
            %br
            (3 días)
          %th.text-center
            Utilización % Tx
          %th.text-center
            Utilización % Rx
          %th.text-center
            Comentarios
      %tbody
        - unless Ppminterface.last == nil
          - i = 0
          - @ppminterface[:ppminterfaces_array].map do |item|
            - i += 1
            %tr
              %td
                = i
              %td
                = item[:node]
              %td
                = item[:interface]
              %td
                = item[:iru]
              %td
                = item[:tier1]
              %td
                = item[:link]
              %td
                = item[:remote_site]
              %td
                = item[:route]
              %td
                = item[:local_site]
              %td
                = item[:activation_date]
              %td
                = item[:bps_tx]
              %td
                = item[:bps_rx]
              - if item[:utilization_tx] > 70.00
                %td.danger
                  = item[:utilization_tx]
              - else
                %td
                  = item[:utilization_tx]
              - if item[:utilization_rx] > 70.00
                %td.danger
                  = item[:utilization_rx]
              - else
                %td
                  = item[:utilization_rx]
              %td
                = item[:comments]
